<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tasheer:Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="hero container-fluid">
    <h1>Tasheer</h1>
    <div class="row large-margin-top">
        <div class="col-md-4 col-md-offset-4">
            <span>Classified Site in Node JS</span>
        </div>

    </div>
</div>
<div class="container">
    <%- content %>
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted text-center">&copy 2017 Tasheer Forum</p>
    </div>
</footer>
</body>
</html>