<%- contentFor('content') %>
<div class="row margin-top">
    <div class="col-md-12 post">
        <h1>
            Senior Java Developer - Security Cleared - Java 8 - Contract
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12 post_date">
                <span>
                    Dec 15
                </span>
    </div>
</div>
<div class="row margin-top">
    <div class="col-md-12 post_company-name">
                <span>
                    Helping You Succeed LLC
                </span>
    </div>
</div>
<div class="row">
    <div class="col-md-12 post_company-region">
                <span>
                    Canada
                </span>
    </div>
</div>
<div class="row">
    <div class="col-md-12 post_web">
                <span>
                    <a href="http://example.com">http://example.com</a>
                </span>
    </div>
</div>

<div class="row margin-top">
    <div class="col-md-12 post_details">
        Java Developer - Security Cleared - Java 8 - Spring/Restful - Contract is required for an urgent project
        based in London. Proven experience of developing within Java/J2EE along with experience of both Spring and
        Hibernate within an Agile environment. You will possess; Proven experience of Java 8/J2EE development.
        Spring MVC, Web, PostgreSQL (or another rlational DB), Experience of Spring & Hibernate. Proven experience
        working within an Agile environment. Experienced in pair programming. You must know how to build secure and
        scalable code. Experience of microservices is also essential.


        <p>
            Experienced in leading teams or Mentoring Junior Developers
            Polished communication and interpersonal skills
            Ideally Security Cleared or Eligible for Security clearance
        </p>

        <p>
            Senior Java Developer - Security Cleared - Java 8 - Contract
        </p>

    </div>
</div>

<div class="row medium-margin-top">
    <div class="col-md-12 text-center post_apply">
        <button class="btn btn-primary">Apply Now</button>
    </div>
</div>