<%- contentFor('content') %>
<div class="row">
    <div class="col-md-12">
        <h2>Welcome to Tasheer Forum</h2>
    </div>
</div>

<div class="row margin-top">
    <div class="col-md-12">
        <div class="input-group">
            <input type="text" class="form-control input-lg">
            <span class="input-group-btn">
                        <button class="btn btn-primary btn-lg" type="button">Search</button>
                      </span>
        </div>
    </div>
</div>
<section class="categoru-jobs">
    <div class="row margin-top">
        <div class="col-md-12">
            <h4 class="text-maroon">CUSTOMER SUPPORT JOBS</h4>
        </div>
    </div>
    <div class="row margin-top">
        <div class="col-md-12">
            <ul>
                <li>
                    <span class="h3">Hotjar</span> <span class="job-link"><a
                                href="#">Customer Support Manager</a></span>
                    <span class="pull-right job-date">Dec 18</span>
                </li>
                <li>
                    <span class="h3">Hotjar</span> <span class="job-link"><a
                                href="#">Customer Support Manager</a></span>
                    <span class="pull-right job-date">Dec 18</span>
                </li>
                <li>
                    <span class="h3">Hotjar</span> <span class="job-link"><a
                                href="#">Customer Support Manager</a></span>
                    <span class="pull-right job-date">Dec 18</span>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="categoru-jobs">
    <div class="row margin-top">
        <div class="col-md-12">
            <h4 class="text-maroon">PROGRAMMING JOBS</h4>
        </div>
    </div>
    <div class="row margin-top">
        <div class="col-md-12">
            <ul>
                <li>
                    <span class="h3">Hotjar</span> <span class="job-link"><a
                                href="#">Customer Support Manager</a></span>
                    <span class="pull-right job-date">Dec 18</span>
                </li>
                <li>
                    <span class="h3">Hotjar</span> <span class="job-link"><a
                                href="#">Customer Support Manager</a></span>
                    <span class="pull-right job-date">Dec 18</span>
                </li>
                <li>
                    <span class="h3">Hotjar</span> <span class="job-link"><a
                                href="#">Customer Support Manager</a></span>
                    <span class="pull-right job-date">Dec 18</span>
                </li>
            </ul>
        </div>
    </div>
</section>